@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
body{
  overflow-x: hidden;
  background-color: black;
  background-size: cover;

}

h1,h2,h3,h4,h5,h6,button{
  font-family: 'Teko', sans-serif;
  color: white;
}
p,span,label,input{
  color: white;
  font-family: 'Aboreto', cursive;
}

button {
  height: 60px;
  width: 300px;
  font-size: 22px;
  background-color: #FBB666;
  border: 1px solid #4b5763;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 4px;
}

#doc-link {
  position: fixed;
  bottom: 2px;
  right: 10px;
  font-size: 20px;
  color: #fff;
}
